/*
podemos selecionar três formas:
1 classe " . "
2 ID " # "
3 própria TAG /'body, h1. etc..

ID é UNICO! por página
Class. pode usar várias vezes
*/

body{
    background-color: rgb(223, 215, 185);
    font-family: Arial, Helvetica, sans-serif
    
}

h1{
    color: #0d1b97;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 40px;
}

.job-title{
    background-color: #1726ad;
    color: #898dbe;
    font-size: 20px;
    font-weight: bold;
    padding:5px 10px 5px 10px;
}

h2{
    color: #0d1b97;
    font-size: 20px;
}

ul{
    background-color: #333333;
    color: rgb(223, 215, 185);
    padding: 10px;
    
}

#Contact {
    color: black;
}